%h1 Listing image_searches

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @image_searches.each do |image_search|
      %tr
        %td= link_to 'Show', image_search
        %td= link_to 'Edit', edit_image_search_path(image_search)
        %td= link_to 'Destroy', image_search, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image search', new_image_search_path
